{% extends 'base.html' %}
{% load static %}

{% block title %}BoardGame Nexus - Home{% endblock %}
{% block nav %}
{% endblock %}

{% block content %}
<div class="container text-center py-5">
    <!-- Logo Placeholder - pulled from base.html, but if a different one is needed here, it would go below -->
    <img src="{% static 'images/main_logo.jpg' %}" alt="BoardGame Nexus Logo" class="mb-4" style="height: 150px;">
    <div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn btn-primary btn-lg" href={% url 'games:games' %}>Игри</a>
        <a class="btn btn-secondary btn-lg" href={% url 'events:events_list' %}>Събития</a>
    </div>
</div>
{% endblock %}
